/= render 'user/welcome_user_box'
%h3
  = link_to "Back to home", root_path
%h3
  %center
    Welcome to your dashboard ....
.bs-example
  %ul.nav.nav-tabs.dashboard-tabs
    %li.active
      = link_to "Profile", "#profile", :data => {:toggle => 'tab'}
    %li
      = link_to "Add new advert", "#new_advert", :data => {:toggle => 'tab'}
    %li
      = link_to "All my adverts", "#all_adverts", :data => {:toggle => 'tab'}
  .tab-content
    #profile.tab-pane.fade.in.active
      = render 'shared/edit_profile'
    #new_advert.tab-pane.fade
      %h3
        Add new advert
      = simple_form_for Advert.new do |f|
        = f.input :title
        = f.input :description, as: :text, row: 10
        = f.association :category
        = f.input :payment_method, as: :check_boxes, collection: Advert::PAYMENT.map{|m| [m[:name],m[:id]]}
        = f.input :is_commentable, as: :boolean
        = f.input :address
        = f.input :location
        = f.input :phone_number
        = f.submit "Postavi oglas"
    #all_adverts.tab-pane.fade
      %h3
        All my adds
      %p
        Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
= render 'shared/modals/preview_profile'

